@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin hoverLinks() {
  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 0;
    height: 1.4px;
    background-color: $black-color;
    border-radius: 1%;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
