$background-color: #fafafa;
$black-color: #212529;
$gray-color: gray;
$red-color: red;

$header-heigth: 80px;
$width-top-section-about: 544px;
$width-page-desktop: 1120px;
$heigth-home-page-top: 800px;
$margin-bottom-home-page-desktop: 80px;
$margin-bottom-home-page-categorys-title-desktop: 80px;
$margin-bottom-home-page-categorys-category-desktop: 60px;
$width-project-img-desktop: 350px;
$heigth-project-img-desktop: 250px;
$margin-project-tale-desktop: 35px;

$size-button: 50px;
$margin-button: 75px;

$heigth-memeber-photo: 260px;
$width-memeber-photo: 220px;

$most-margin-about-us: 100px;
$width-top-img-about-us: 570px;
$heigth-top-img-about-us: 265px;

$input-heigth: 15%;
$input-width: 100%;
$textarea-heigth: 100%;

@media (max-width: 600px) {

  }
  
  @media (min-width: 601px) and (max-width: 1180px) {

  }
  
  @media (min-width: 1025px) {
  }