$background-color: #fafafa;
$black-color: #212529;
$gray-color: gray;


$header-heigth: 80px;
$width-page-desktop: 1120px;
$heigth-home-page-top: 800px;
$margin-bottom-home-page-desktop: 80px;
$margin-bottom-home-page-categorys-title-desktop: 80px;
$margin-bottom-home-page-categorys-category-desktop: 60px;
$width-project-img-desktop: 350px;
$heigth-project-img-desktop: 250px;
$margin-project-tale-desktop: 35px;

$size-button: 50px;
$margin-button: 75px;

