$background-color: #fafafa;
$black-color: black;
$gray-color: gray;

$heigth-home-page-top: 800px;
$margin-bottom-home-page-top-desktop: 80px;
$margin-bottom-home-page-categorys-title-desktop: 80px;
$margin-bottom-home-page-categorys-category-desktop: 60px;
$width-project-img-desktop: 350px;
$heigth-project-img-desktop: 250px;
